 <!-- blog section start  -->

 <section id="blog" class="blog">

    <h1 class="heading">blog</h1>
    <h3 class="title">Medical Blog & Health Articel</h3>

    <div class="box-container">

        <!-- start here  -->
        <div class="box">
            <!-- images  -->
            <img src="./assets/blog 1.png" alt="">

            <div class="content">
                <a href="#">
                    <h2>diabetes</h2>
                </a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, obcaecati iusto aliquid quam repudiandae voluptas!</p>
                 <!-- button  -->
                <a href="#"> <button class="button">learn more</button></a>
            </div>
        </div>
        <!-- end here  -->

        
        <!-- start here  -->
        <div class="box">
            <!-- images  -->
            <img src="./images/blog 2.png" alt="">

            <div class="content">
                <a href="#">
                    <h2>covid-19 vaccine</h2>
                </a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, obcaecati iusto aliquid quam repudiandae voluptas!</p>
                 <!-- button  -->
                <a href="#"> <button class="button">learn more</button></a>
            </div>
        </div>
        <!-- end here  -->

        
        <!-- start here  -->
        <div class="box">
            <!-- images  -->
            <img src="./images/blog 3.png" alt="">

            <div class="content">
                <a href="#">
                    <h2>prevent epidemic</h2>
                </a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, obcaecati iusto aliquid quam repudiandae voluptas!</p>
                 <!-- button  -->
                <a href="#"> <button class="button">learn more</button></a>
            </div>
        </div>
        <!-- end here  -->
        <div class="row justify">
				 
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/28/Indian-Medical-Visa-Invitation-Letter-for-Bangladeshi-Patients%3A-A-Comprehensive-Guide">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/670c0c673e31a1728842855.png" alt="Indian Medical Visa Invitation Letter for Bangladeshi Patients: A Comprehensive Guide"></div>
                    <div class="blog_content">
                        <h4>Indian Medical Visa Invitation Letter for Bangladeshi Patients: A Comprehensive Guide</h4>
                        <span>Md Ariful Islam    </span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/27/%E0%A6%AB%E0%A6%BF%E0%A6%9F%E0%A6%A8%E0%A7%87%E0%A6%B8-%E0%A6%93-%E0%A6%AA%E0%A7%81%E0%A6%B7%E0%A7%8D%E0%A6%9F%E0%A6%BF%3A-%E0%A6%B8%E0%A7%8D%E0%A6%AC%E0%A6%BE%E0%A6%B8%E0%A7%8D%E0%A6%A5%E0%A7%8D%E0%A6%AF%E0%A6%95%E0%A6%B0-%E0%A6%96%E0%A6%BE%E0%A6%93%E0%A6%AF%E0%A6%BC%E0%A6%BE%2C-%E0%A6%AB%E0%A6%BF%E0%A6%9F%E0%A6%A8%E0%A7%87%E0%A6%B8-%E0%A6%B0%E0%A7%81%E0%A6%9F%E0%A6%BF%E0%A6%A8-%E0%A6%8F%E0%A6%AC%E0%A6%82-%E0%A6%93%E0%A6%9C%E0%A6%A8-%E0%A6%95%E0%A6%AE%E0%A6%BE%E0%A6%A8%E0%A7%8B%E0%A6%B0-%E0%A6%9C%E0%A6%A8%E0%A7%8D%E0%A6%AF-%E0%A6%AA%E0%A6%B0%E0%A6%BE%E0%A6%AE%E0%A6%B0%E0%A7%8D%E0%A6%B6">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/67062a69420261728457321.jpg" alt="ফিটনেস ও পুষ্টি: স্বাস্থ্যকর খাওয়া, ফিটনেস রুটিন এবং ওজন কমানোর জন্য পরামর্শ"></div>
                    <div class="blog_content">
                        <h4>ফিটনেস ও পুষ্টি: স্বাস্থ্যকর খাওয়া, ফিটনেস রুটিন এবং ওজন কমানোর জন্য পরামর্শ</h4>
                        <span>স্বাস্থ্য বার্তা                            </span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/26/Fortis-Hospital-Anandapur-Kolkata---Where-Excellence-Meets-Compassion-in-Healthcare">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/66fd28cc4436d1727867084.jpeg" alt="Fortis Hospital Anandapur Kolkata - Where Excellence Meets Compassion in Healthcare"></div>
                    <div class="blog_content">
                        <h4>Fortis Hospital Anandapur Kolkata - Where Excellence Meets Compassion in Healthcare</h4>
                        <span></span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/25/Step-by-Step-Guide-to-the-Indian-Visa-Application-Process">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/66fa56d0e504a1727682256.png" alt="Step-by-Step Guide to the Indian Visa Application Process"></div>
                    <div class="blog_content">
                        <h4>Step-by-Step Guide to the Indian Visa Application Process</h4>
                        <span></span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/24/Artemis-Hospital--in-Gurgaon%2CIndia.">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/6691418db07251720795533.jpg" alt="Artemis Hospital  in Gurgaon,India."></div>
                    <div class="blog_content">
                        <h4>Artemis Hospital  in Gurgaon,India.</h4>
                        <span></span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/23/Christian-Medical-College-%28CMC%29-Vellore%3A-Comprehensive-Guide-to-Online-Appointment-Booking-By-Doctor%26%2339%3Bs-Link-">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/66825432022651719817266.jpg" alt="Christian Medical College (CMC) Vellore: Comprehensive Guide to Online Appointment Booking By Doctor's Link "></div>
                    <div class="blog_content">
                        <h4>Christian Medical College (CMC) Vellore: Comprehensive Guide to Online Appointment Booking By Doctor's Link </h4>
                        <span>Md Ariful Islam   </span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/22/%E0%A6%AC%E0%A6%BE%E0%A6%82%E0%A6%B2%E0%A6%BE%E0%A6%A6%E0%A7%87%E0%A6%B6%E0%A7%80%E0%A6%A6%E0%A7%87%E0%A6%B0-%E0%A6%9C%E0%A6%A8%E0%A7%8D%E0%A6%AF-%E0%A6%87-%E0%A6%AE%E0%A7%87%E0%A6%A1%E0%A6%BF%E0%A6%95%E0%A7%87%E0%A6%B2-%E0%A6%AD%E0%A6%BF%E0%A6%B8%E0%A6%BE-%E0%A6%9A%E0%A6%BE%E0%A6%B2%E0%A7%81-%E0%A6%95%E0%A6%B0%E0%A6%BE-%E0%A6%B9%E0%A6%AC%E0%A7%87-%E2%80%94%E0%A6%A8%E0%A6%B0%E0%A7%87%E0%A6%A8%E0%A7%8D%E0%A6%A6%E0%A7%8D%E0%A6%B0-%E0%A6%AE%E0%A7%8B%E0%A6%A6%E0%A6%BF">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/66d5609574f781725259925.webp" alt="বাংলাদেশীদের জন্য ই-মেডিকেল ভিসা চালু করা হবে —নরেন্দ্র মোদি"></div>
                    <div class="blog_content">
                        <h4>বাংলাদেশীদের জন্য ই-মেডিকেল ভিসা চালু করা হবে —নরেন্দ্র মোদি</h4>
                        <span></span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/21/%E0%A6%AD%E0%A6%BE%E0%A6%B0%E0%A6%A4-%E0%A6%93-%E0%A6%AC%E0%A6%BE%E0%A6%82%E0%A6%B2%E0%A6%BE%E0%A6%A6%E0%A7%87%E0%A6%B6%E0%A7%87-%E0%A6%9A%E0%A6%BF%E0%A6%95%E0%A6%BF%E0%A7%8E%E0%A6%B8%E0%A6%BE%E0%A6%B0-%E0%A6%9C%E0%A6%A8%E0%A7%8D%E0%A6%AF-EMI-%E0%A6%B8%E0%A7%81%E0%A6%AC%E0%A6%BF%E0%A6%A7%E0%A6%BE">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/667bb32584d1c1719382821.jpg" alt="ভারত ও বাংলাদেশে চিকিৎসার জন্য EMI সুবিধা"></div>
                    <div class="blog_content">
                        <h4>ভারত ও বাংলাদেশে চিকিৎসার জন্য EMI সুবিধা</h4>
                        <span></span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/20/Get-Your-Sleep-Apnea-Under-Control-With-These-Tips">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/667aecc50fdbe1719332037.png" alt="Get Your Sleep Apnea Under Control With These Tips"></div>
                    <div class="blog_content">
                        <h4>Get Your Sleep Apnea Under Control With These Tips</h4>
                        <span></span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/19/Apollo-Hospital-Doctor-List-%26-Online-Booking---Your-Path-to-Premium-Healthcare-in-Chennai">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/66755779555451718966137.jpg" alt="Apollo Hospital Doctor List &amp; Online Booking - Your Path to Premium Healthcare in Chennai"></div>
                    <div class="blog_content">
                        <h4>Apollo Hospital Doctor List &amp; Online Booking - Your Path to Premium Healthcare in Chennai</h4>
                        <span></span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/18/%E0%A6%A1%E0%A6%95%E0%A7%8D%E0%A6%9F%E0%A6%B0%26%2339%3B%E0%A6%B8-%E0%A6%B2%E0%A6%BF%E0%A6%82%E0%A6%95-%E0%A6%AC%E0%A6%BE%E0%A6%82%E0%A6%B2%E0%A6%BE%E0%A6%A6%E0%A7%87%E0%A6%B6%E0%A7%87-%E0%A6%8F%E0%A6%87-%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%A5%E0%A6%AE-%E0%A6%A8%E0%A6%BF%E0%A6%AF%E0%A6%BC%E0%A7%87-%E0%A6%8F%E0%A6%B2%E0%A7%8B-EMI-%E0%A6%A4%E0%A7%87-%E0%A6%9A%E0%A6%BF%E0%A6%95%E0%A6%BF%E0%A7%8E%E0%A6%B8%E0%A6%BE-%E0%A6%B8%E0%A7%87%E0%A6%AC%E0%A6%BE">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/666ad3596878a1718276953.jpg" alt="ডক্টর'স লিংক বাংলাদেশে এই প্রথম নিয়ে এলো EMI তে চিকিৎসা সেবা"></div>
                    <div class="blog_content">
                        <h4>ডক্টর'স লিংক বাংলাদেশে এই প্রথম নিয়ে এলো EMI তে চিকিৎসা সেবা</h4>
                        <span></span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/17/Welcome-to-Medical-Tourism-India-">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/6669a41d9a7171718199325.jpg" alt="Welcome to Medical Tourism India "></div>
                    <div class="blog_content">
                        <h4>Welcome to Medical Tourism India </h4>
                        <span></span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/16/Your-Complete-Guide-to-Getting-an-Indian-Visa">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/6669993831ac11718196536.png" alt="Your Complete Guide to Getting an Indian Visa"></div>
                    <div class="blog_content">
                        <h4>Your Complete Guide to Getting an Indian Visa</h4>
                        <span></span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/15/Control-Cancer-Rather-Than-Letting-It-Control-You">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/66698ad03b2681718192848.jpg" alt="Control Cancer Rather Than Letting It Control You"></div>
                    <div class="blog_content">
                        <h4>Control Cancer Rather Than Letting It Control You</h4>
                        <span></span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/14/Prevent-And-Relieve-Back-Pain-With-These-Tips">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/6669875f6e7761718191967.jpg" alt="Prevent And Relieve Back Pain With These Tips"></div>
                    <div class="blog_content">
                        <h4>Prevent And Relieve Back Pain With These Tips</h4>
                        <span></span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/13/%E0%A6%AE%E0%A6%A3%E0%A6%BF%E0%A6%AA%E0%A6%BE%E0%A6%B2-%E0%A6%B9%E0%A6%BE%E0%A6%B8%E0%A6%AA%E0%A6%BE%E0%A6%A4%E0%A6%BE%E0%A6%B2---HAL-%E0%A6%93%E0%A6%B2%E0%A7%8D%E0%A6%A1-%E0%A6%8F%E0%A6%AF%E0%A6%BC%E0%A6%BE%E0%A6%B0%E0%A6%AA%E0%A7%8B%E0%A6%B0%E0%A7%8D%E0%A6%9F-%E0%A6%B0%E0%A7%8B%E0%A6%A1%2C-%E0%A6%AC%E0%A7%8D%E0%A6%AF%E0%A6%BE%E0%A6%99%E0%A7%8D%E0%A6%97%E0%A6%BE%E0%A6%B2%E0%A7%8B%E0%A6%B0-">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/66570e63c90691716981347.jpg" alt="মণিপাল হাসপাতাল - HAL ওল্ড এয়ারপোর্ট রোড, ব্যাঙ্গালোর "></div>
                    <div class="blog_content">
                        <h4>মণিপাল হাসপাতাল - HAL ওল্ড এয়ারপোর্ট রোড, ব্যাঙ্গালোর </h4>
                        <span></span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/12/Doctor%E2%80%99s-link-facilitates-over-12000-patients-in-obtaining-treatment-abroad">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/6656e4ec916a21716970732.jpg" alt="Doctor’s link facilitates over 12000 patients in obtaining treatment abroad"></div>
                    <div class="blog_content">
                        <h4>Doctor’s link facilitates over 12000 patients in obtaining treatment abroad</h4>
                        <span></span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/11/%E0%A6%95%E0%A7%8B%E0%A6%AE%E0%A6%B0-%E0%A6%AC%E0%A7%8D%E0%A6%AF%E0%A6%A5%E0%A6%BE-%E0%A6%AC%E0%A6%BF%E0%A6%B6%E0%A7%87%E0%A6%B7-%E0%A6%95%E0%A6%B0%E0%A7%87-%E0%A6%B8%E0%A6%BE%E0%A6%AF%E0%A6%BC%E0%A6%BE%E0%A6%9F%E0%A6%BF%E0%A6%95%E0%A6%BE-%28Sciatica%29-%E0%A6%A8%E0%A6%BE%E0%A6%B0%E0%A7%8D%E0%A6%AD-%E0%A6%AA%E0%A7%87%E0%A6%87%E0%A6%A8%E0%A7%87%E0%A6%B0-%E0%A6%9C%E0%A6%A8%E0%A7%8D%E0%A6%AF-%E0%A6%AF%E0%A7%87-%E0%A6%B8%E0%A6%BE%E0%A6%AA%E0%A7%8D%E0%A6%B2%E0%A6%BF%E0%A6%AE%E0%A7%87%E0%A6%A8%E0%A7%8D%E0%A6%9F-%E0%A6%97%E0%A7%8D%E0%A6%B0%E0%A6%B9%E0%A6%A3-%E0%A6%95%E0%A6%B0%E0%A6%BE-%E0%A6%89%E0%A6%9A%E0%A6%BF%E0%A6%A4%E0%A5%A4">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/662ccb4aca3cc1714211658.png" alt="কোমর ব্যথা বিশেষ করে সায়াটিকা (Sciatica) নার্ভ পেইনের জন্য যে সাপ্লিমেন্ট গ্রহণ করা উচিত।"></div>
                    <div class="blog_content">
                        <h4>কোমর ব্যথা বিশেষ করে সায়াটিকা (Sciatica) নার্ভ পেইনের জন্য যে সাপ্লিমেন্ট গ্রহণ করা উচিত।</h4>
                        <span>রাজু আহমেদ বাবু  ,নিউট্রিশনিস্ট কোচ</span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/10/%E0%A6%AE%E0%A7%87%E0%A6%A1%E0%A6%BF%E0%A6%95%E0%A7%8D%E0%A6%AF%E0%A6%BE%E0%A6%B2-%E0%A6%AD%E0%A6%BF%E0%A6%B8%E0%A6%BE%E0%A7%9F-%E0%A6%B9%E0%A6%BE%E0%A6%B8%E0%A6%AA%E0%A6%BE%E0%A6%A4%E0%A6%BE%E0%A6%B2-%E0%A6%95%E0%A6%BF%E0%A6%AD%E0%A6%BE%E0%A6%AC%E0%A7%87-%E0%A6%AA%E0%A6%B0%E0%A6%BF%E0%A6%AC%E0%A6%B0%E0%A7%8D%E0%A6%A4%E0%A6%A8-%E0%A6%95%E0%A6%B0%E0%A6%AC%E0%A7%87%E0%A6%A8">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/6624a58b4b4bd1713677707.png" alt="মেডিক্যাল ভিসায় হাসপাতাল কিভাবে পরিবর্তন করবেন"></div>
                    <div class="blog_content">
                        <h4>মেডিক্যাল ভিসায় হাসপাতাল কিভাবে পরিবর্তন করবেন</h4>
                        <span></span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/9/%E0%A6%AA%E0%A7%8D%E0%A6%B2%E0%A6%BE%E0%A6%B8%E0%A7%8D%E0%A6%9F%E0%A6%BF%E0%A6%95%E0%A7%87-%E0%A6%B9%E0%A6%BE%E0%A6%B0%E0%A7%8D%E0%A6%9F-%E0%A6%85%E0%A7%8D%E0%A6%AF%E0%A6%BE%E0%A6%9F%E0%A6%BE%E0%A6%95-%E0%A6%AC%E0%A6%BE-%E0%A6%B8%E0%A7%8D%E0%A6%9F%E0%A7%8D%E0%A6%B0%E0%A7%8B%E0%A6%95%E0%A7%87%E0%A6%B0-%E0%A6%9D%E0%A7%81%E0%A6%81%E0%A6%95%E0%A6%BF">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/661e62b4a29f91713267380.jpg" alt="প্লাস্টিকে হার্ট অ্যাটাক বা স্ট্রোকের ঝুঁকি"></div>
                    <div class="blog_content">
                        <h4>প্লাস্টিকে হার্ট অ্যাটাক বা স্ট্রোকের ঝুঁকি</h4>
                        <span>লেখক রাজু আহমেদ বাবু  ,নিউট্রিসনিস্ট কোচ</span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/8/How-to-Apply-for-an-Indian-Visa-Online---Step-by-Step-Guide">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/65bfd291f3ef51707070097.png" alt="How to Apply for an Indian Visa Online - Step-by-Step Guide"></div>
                    <div class="blog_content">
                        <h4>How to Apply for an Indian Visa Online - Step-by-Step Guide</h4>
                        <span>MD ARIFUL ISLAM </span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/5/-Effective-Tips-for-Booking-Indian-Doctors-Appointment-Hassle-Free">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/65a2792b537fb1705146667.jpg" alt=" Effective Tips for Booking Indian Doctors Appointment Hassle Free"></div>
                    <div class="blog_content">
                        <h4> Effective Tips for Booking Indian Doctors Appointment Hassle Free</h4>
                        <span></span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/3/%E0%A6%B2%E0%A7%87%E0%A6%9C%E0%A6%BE%E0%A6%B0-%E0%A6%AE%E0%A7%87%E0%A6%B0%E0%A7%81%E0%A6%A6%E0%A6%A3%E0%A7%8D%E0%A6%A1%E0%A7%87%E0%A6%B0-%E0%A6%B8%E0%A6%BE%E0%A6%B0%E0%A7%8D%E0%A6%9C%E0%A6%BE%E0%A6%B0%E0%A6%BF">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/6465e27287ff81684398706.png" alt="লেজার মেরুদণ্ডের সার্জারি"></div>
                    <div class="blog_content">
                        <h4>লেজার মেরুদণ্ডের সার্জারি</h4>
                        <span>Md Ariful Islam</span>
                    </div>
                    </a>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_blog">
                    <a href="https://doctorlink.in//blog/1/Living-Without-Violence-...">
                    <div class="blog_img"><img src="https://doctorlink.in/images/all/6422a0c2314e61679990978.jpg" alt="Living Without Violence ..."></div>
                    <div class="blog_content">
                        <h4>Living Without Violence ...</h4>
                        <span>Dr. Chaianan Chaiyamanon</span>
                    </div>
                    </a>
                </div>
            </div>
                        </div>

    </div>
</section>



<!-- blog section end  -->