<div>
    <!-- header navbar section start  -->

    <header>

       <!-- logo name  -->
       
       <a href="/dashboard" class="logo"><span>D</span>octors <span>C</span>ares.</a>

       <!-- navbar link  -->
       <nav class="navbar">
           <ul>
               
               <li><a href="">home</a></li>
              
  
               <li class="new-item"><a class="nav-link" routerLink="/login">login</a></li>     
                   

           </ul>
           
       </nav>

       <div class="fas fa-bars"></div>
   </header>
   <!-- header navbar section end  -->

   <!-- home section start  -->

   <section id="home" class="home">

       <div class="row">

           <!-- home images  -->
           <div class="images">
               <img src="./assets/home.png" alt="">
           </div>

           <!-- home heading  -->
           <div class="content">
               <h1><span>Stay</span> Safe, <span>Stay</span> Healthy.</h1>
               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, officiis.</p>
               <a href="#"><button class="button">read more</button></a>
           </div>
       </div>
   </section>
   <!-- home section end  -->


 

  
      







   <!-- footer section start  -->

   <section class="footer">

       <div class="box">
           <h2 class="logo"><span>D</span>octors <span>C</span>ares</h2>

           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam laboriosam quisquam facere pariatur ratione porro et vero dolore accusamus id?</p>
       </div>

       <div class="box">
           <h2 class="logo"><span>S</span>hare</h2>

           <a href="#">facebook</a>
           <a href="#">twitter</a>
           <a href="#">instagram</a>
           <a href="#">pinterest</a>
       </div>

       <div class="box">
           <h2 class="logo"><span>L</span>inks</h2>

           <a href="">home</a>
           <a href="">about</a>
           <a href="">Doctor</a>
           <a href="">Review</a>
           <a href="">contact</a>
           <a href="">blog</a>
       </div>


       <h1 class="credit">created by <span>Md.Rukon Uddin</span> all right reserved.</h1>
   </section>

<router-outlet></router-outlet>






   <!-- footer section end  -->
   



   










   <!-- jquery cdn link  -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

   <!-- custom js file link  -->
   <script src="./js/main.js"></script>
</div>

