

   


<!-- card section start  -->

   <section id="doctor" class="card">

    <div class="container">

        <h1 class="heading">doctors</h1>
        <h3 class="title">our professional doctors</h3>

        <div class="box-container">

            <!-- start here  -->
            <div class="box">
                <img src="./assets/doctor-1.jpg" alt="">                
                
                <div class="content">
                    <a href="#">
                        <h2>Dr. Aslamuddin khan</h2>
                    </a>
                    <p>MBBS</p>

                    <!-- card icons  -->
                    <div class="icons">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
            </div>
            <!-- end here  -->

            
            <!-- end here  -->
             <!-- start here  -->
             <div class="box">

                <img src="/assets/6694ec6f2bb731721035887.jpg" alt=""> 
				
				<div class="content">
                    <a href="#">
                        <h2>Dr. Usman gani khan</h2>
                    </a>
                    <p>MBBS,mpfc</p>

                    <!-- card icons  -->
                    <div class="icons">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
            </div>
            
            <!-- end here  -->
             <!-- start here  -->
             

                              
                
                <div class="" *ngFor="let item of doctorList">
					<div class="box">
					<img src="/assets/download.png" alt=""> 
                    <div class="content">
                        <div >
                           <p><span>{{item.name}}</span></p>
                           <p><span>{{item.expriance}}</span></p>
                           <p><span>{{item.institute}}</span></p>
                           <p><span>{{item.designation}}</span></p>
                           <p><span>{{item.qualification}}</span></p>
                           <p><span>{{item.workcity}}</span></p>
                           <p><span>{{item.visitfee}}</span></p>
                        
                            
						</div>
                        
                        <p>professional</p>
    
                        <!-- card icons  -->
                        <div class="icons">
                            <a href="https://www.iconfinder.com/icons/5296499/fb_facebook_facebook_logo_icon" class="fab fa-facebook-f"></a>
                            <a href="#" class="fab fa-twitter"></a>
                            <a href="#" class="fab fa-instagram"></a>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button"  class="btn btn-primary btn-lg">Book
                        Appointment</button>
                </div>
            </div>
            
            <!-- end here  -->

       
          

        </div>
    </div>
</section>
<!-- card section end  -->
 <section>
    <div class="depertment_area">
        <div class="container-fluid">
            <div class="custom_row text-center justify-content-center">
                
              
                
			<div class="custom_col">
					<div class="single_dept">
						<div class="dept_img">
							<img src="assets/img/1 (1).jpg" alt="Cardio Surgery">
						</div>
						<a href="doctors?department_id=23">Cardio Surgery</a>
					</div>
				</div>
			<div class="custom_col">
					<div class="single_dept">
						<div class="dept_img">
							<img src="assets/img/2.png" alt="Urology">
						</div>
						<a href="doctors?department_id=26">Urology</a>
					</div>
				</div>
			<div class="custom_col">
					<div class="single_dept">
						<div class="dept_img">
							<img src="assets/img/3.webp" alt="Neurology">
						</div>
						<a href="doctors?department_id=30">Neurology</a>
					</div>
				</div>
			<div class="custom_col">
					<div class="single_dept">
						<div class="dept_img">
							<img src="assets/img/4.jpg" alt="Spine Surgery">
						</div>
						<a href="doctors?department_id=33">Spine Surgery</a>
					</div>
				</div>
			<div class="custom_col">
					<div class="single_dept">
						<div class="dept_img">
							<img src="assets/img/4.jpg" alt="Nephrology">
						</div>
						<a href="doctors?department_id=42">Nephrology</a>
					</div>
				</div>
			<div class="custom_col">
					<div class="single_dept">
						<div class="dept_img">
							<img src="assets/img/5.png" alt="Liver Transplant &amp; HPB Surgery">
						</div>
						<a href="doctors?department_id=43">Liver Transplant &amp; HPB Surgery</a>
					</div>
				</div>
			<div class="custom_col">
					<div class="single_dept">
						<div class="dept_img">
							<img src="assets/img/6.webp" alt="Haematology">
						</div>
						<a href="doctors?department_id=44">Haematology</a>
					</div>
				</div>
			<div class="custom_col">
					<div class="single_dept">
						<div class="dept_img">
							<img src="assets/img/7.jpg" alt="Oncology">
						</div>
						<a href="doctors?department_id=45">Oncology</a>
					</div>
				</div>
			<div class="custom_col">
					<div class="single_dept">
						<div class="dept_img">
							<img src="assets/img/8.png" alt="Orthopaedics ">
						</div>
						<a href="doctors?department_id=53">Orthopaedics </a>
					</div>
				</div>
			<div class="custom_col">
					<div class="single_dept">
						<div class="dept_img">
							<img src="assets/img/9.webp" alt=" Gastroenterology">
						</div>
						<a href="doctors?department_id=66"> Gastroenterology</a>
					</div>
				</div>
			<div class="custom_col">
					<div class="single_dept">
						<div class="dept_img">
							<img src="assets/img/10.jpg" alt="Neuro Surgery">
						</div>
						<a href="doctors?department_id=112">Neuro Surgery</a>
					</div>
				</div>
			<div class="custom_col">
					<div class="single_dept">
						<div class="dept_img">
							<img src="assets/img/11.png" alt="Dermatology">
						</div>
						<a href="doctors?department_id=121">Dermatology</a>
					</div>
				</div>
			<div class="custom_col">
					<div class="single_dept">
						<div class="dept_img">
							<img src="assets/img/12.webp" alt=" Infertility ( IVF)">
						</div>
						<a href="doctors?department_id=199"> Infertility ( IVF)</a>
					</div>
				</div>
			<div class="custom_col">
					<div class="single_dept">
						<div class="dept_img">
							<img src="assets/img/13.png" alt="  Gynaecology  &amp;  Obstetrics ">
						</div>
						<a href="doctors?department_id=242">  Gynaecology  &amp;  Obstetrics </a>
					</div>
				</div>
			<div class="custom_col">
					<div class="single_dept">
						<div class="dept_img">
							<img src="assets/img/14.webp" alt=" Paediatric Surgery">
						</div>
						<a href="doctors?department_id=255"> Paediatric Surgery</a>
					</div>
				</div>
			<div class="custom_col">
					<div class="single_dept">
						<div class="dept_img">
							<img src="assets/img/15.png" alt="Paediatric Neurology">
						</div>
						<a href="doctors?department_id=343">Paediatric Neurology</a>
					</div>
				</div>            
                        </div>
        </div>
    </div>

 </section>