 <!-- about section start  -->



 <section id="about" class="about">
    <router-outlet></router-outlet>

    <h1 class="heading">about our facility</h1>
    <h3 class="title">learn and explore our facility</h3>

    <div class="box-container">

        <!-- start here  -->
        <div class="box">
            <!-- about images  -->
            <div class="images">
                <img src="./assets/about-1.png" alt="">
            </div>
            
            <!-- about heading & text  -->
            <div class="content">
                <h3>ambulance services</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab necessitatibus omnis unde dolore suscipit magnam officia. Maxime explicabo qui distinctio?</p>
             <a href="#"><button class="button">learn more</button></a>   
            </div>
        </div>
        <!-- end here  -->

        
        <!-- start here  -->
        <div class="box">
            <!-- about images  -->
            <div class="images">
                <img src="./assets/about-2.png" alt="">
            </div>
            
            <!-- about heading & text  -->
            <div class="content">
                <h3>emergency rooms</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab necessitatibus omnis unde dolore suscipit magnam officia. Maxime explicabo qui distinctio?</p>
             <a href="#"><button class="button">learn more</button></a>   
            </div>
        </div>
        <!-- end here  -->

        
        <!-- start here  -->
        <div class="box">
            <!-- about images  -->
            <div class="images">
                <img src="./assets/about-3.png" alt="">
            </div>
            
            <!-- about heading & text  -->
            <div class="content">
                <h3>free check-ups</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab necessitatibus omnis unde dolore suscipit magnam officia. Maxime explicabo qui distinctio?</p>
             <a href="#"><button class="button">learn more</button></a>   
            </div>
        </div>
        <!-- end here  -->
       </div>

</section>

<!-- about section end  -->