   <!-- contact section start  -->

   <section id="contact" class="contact">

    <h1 class="heading">contact us</h1>
    <h3 class="title">you can talk to us any times,</h3>

    <div class="row">

        <!-- form images  -->
        <div class="images">
            <img src="./assets/form.png" alt="">
        </div>

        <div class="form-container">    

        <input type="text" placeholder="full name" name="" id="">
        <input type="email" placeholder="enter your email" name="" id="">

        <input type="number" placeholder="phone" name="" id="">

        <textarea name="textarea" placeholder="Write Somethings" cols="30" rows="10" id="" style="border: 1%"></textarea>

        <input type="submit" value="send">
        </div>
    </div>




</section>



<!-- contact section end  -->