    <!-- review section start  -->

    <section id="review" class="review">

        <h1 class="heading">our patient review</h1>
        <h3 class="title">what patient says about us</h3>

        <div class="box-container">

            <!-- start here  -->
            <div class="box">
                <i class="fas fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, sit quam ab at nulla quae excepturi laboriosam mollitia illo eius?</p>

                <div class="images">
                    <img src="./assets/img-1.jpg" alt="">

                    <div class="info">
                        <h3>john doe</h3>
                        <span>date : 11 2024</span>
                    </div>
                </div>
            </div>
            <!-- end here  -->

            
            <!-- start here  -->
            <div class="box">
                <i class="fas fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, sit quam ab at nulla quae excepturi laboriosam mollitia illo eius?</p>

                <div class="images">
                    <img src="./assets/img-2.jpg" alt="">

                    <div class="info">
                        <h3>john doe</h3>
                        <span>date : 11 2024</span>
                    </div>
                </div>
            </div>
            <!-- end here  -->

            
            <!-- start here  -->
            <div class="box">
                <i class="fas fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, sit quam ab at nulla quae excepturi laboriosam mollitia illo eius?</p>

                <div class="images">
                    <img src="./assets/img-3.jpg" alt="">

                    <div class="info">
                        <h3>john doe</h3>
                        <span>date : 11 2024</span>
                    </div>
                </div>
            </div>
            <!-- end here  -->
        </div>
    </section>
    <!-- review section end  -->